body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 160%;
}

#session {
	color: #FF0000;
}